@media only screen and (min-device-width: 316px) and (max-device-width: 480px) and (orientation: portrait) {

  p {
    font-size: 14px;
    line-height: 15px;
  }

  .Box1 {
    margin-top: 2vh;
  }

  .Box3 {
    height: 200px;
    margin-top: -5vh;
    margin-bottom: 5vh;
  }

  .Box234{
    margin-top: 10vh;
  }

  .Picture1,
  .Picture2,
  .Picture3,
  .PictureBigСircle,
  .Taum12 {
    transform: scale(1.1);
  }
}
